* {
    background: #282c34;
    base: #282c34;
    mantle: #21252b;
    crust: #181a1f;
    text: #abb2bf;
    subtext0: #d7dae0;
    subtext1: #abb2bf;
    surface0: #2c313c;
    surface1: #323842;
    surface2: #404754;
    overlay0: #3e4452;
    overlay1: #404754;
    overlay2: #525761;
    blue: #4d78cc;
    accent: #4d78cc;
    yellow: #d19a66;
    red: #e05561;
    green: #8cc265;
    magenta: #c678dd;
    cyan: #56b6c2;
    selection: #2c313a;
    border-color: #4d78cc;
    border-radius: 12px;
} 