 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #C2C2C2;
active-foreground: #F4F4F4;
normal-background: #2E2E2E;
normal-foreground: #F4F4F4;
urgent-background: #DFDFDF;
urgent-foreground: #F4F4F4;

alternate-active-background: #868686;
alternate-active-foreground: #F4F4F4;
alternate-normal-background: #2E2E2E;
alternate-normal-foreground: #F4F4F4;
alternate-urgent-background: #2E2E2E;
alternate-urgent-foreground: #F4F4F4;

selected-active-background: #DFDFDF;
selected-active-foreground: #F4F4F4;
selected-normal-background: #DFDFDF;
selected-normal-foreground: #F4F4F4;
selected-urgent-background: #C2C2C2;
selected-urgent-foreground: #F4F4F4;

background-color: #2E2E2E;
background: rgba(0,0,0,0.7);
foreground: #F4F4F4;
border-color: #C2C2C2;

color0: #535353;
color1: #232323;
color2: #292929;
color3: #646564;
color4: #929292;
color5: #A7A7A7;
color6: #A7A7A7;
color7: #E7E7E7;
color8: #A1A1A1;
color9: #2F2F2F;
color10: #363636;
color11: #868686;
color12: #C2C2C2;
color13: #DFDFDF;
color14: #DFDFDF;
color15: #E7E7E7;


}

