 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #808080;
active-foreground: #F0F0F0;
normal-background: #2E2E2E;
normal-foreground: #F0F0F0;
urgent-background: #808080;
urgent-foreground: #F0F0F0;

alternate-active-background: #6F6F6F;
alternate-active-foreground: #F0F0F0;
alternate-normal-background: #2E2E2E;
alternate-normal-foreground: #F0F0F0;
alternate-urgent-background: #2E2E2E;
alternate-urgent-foreground: #F0F0F0;

selected-active-background: #808080;
selected-active-foreground: #F0F0F0;
selected-normal-background: #808080;
selected-normal-foreground: #F0F0F0;
selected-urgent-background: #808080;
selected-urgent-foreground: #F0F0F0;

background-color: #2E2E2E;
background: rgba(0,0,0,0.7);
foreground: #F0F0F0;
border-color: #808080;

color0: #535353;
color1: #232223;
color2: #232323;
color3: #535353;
color4: #606060;
color5: #606060;
color6: #9F9F9F;
color7: #E1E1E1;
color8: #9E9E9E;
color9: #2E2E2E;
color10: #2E2E2E;
color11: #6F6F6F;
color12: #808080;
color13: #808080;
color14: #D4D4D4;
color15: #E1E1E1;


}

