/**
 * One Dark Pro rofi theme
 */

* {
	nord0: #282c34;  /* background */
	nord1: #21252b;  /* darker bg */
	nord2: #323842;  /* selection bg */
	nord3: #3e4452;  /* comments */

	nord4: #abb2bf;  /* foreground */
	nord5: #b0b7c3;  /* light foreground */
	nord6: #d4d7dc;  /* lighter foreground */

	nord7: #56b6c2;  /* cyan */
	nord8: #61afef;  /* blue */
	nord9: #61afef;  /* blue */
	nord10: #61afef; /* blue */
	nord11: #e06c75; /* red */

	nord12: #d19a66; /* orange */
	nord13: #e5c07b; /* yellow */
	nord14: #98c379; /* green */
	nord15: #c678dd; /* purple */

    foreground:  @nord8;
    backlight:   #abb2bf;
    background-color:  #282c34;
    
    highlight:     underline bold #abb2bf;

    transparent: #282c34;
}

window {
    location: center;
    anchor:   center;
    transparency: "real";
    padding: 10px;
    border:  0px;
    border-radius: 6px;

    background-color: @nord0;
    spacing: 0;
    children:  [mainbox];
    orientation: horizontal;
}

mainbox {
    spacing: 0;
    children: [ inputbar, message, listview ];
}

message {
    color: @nord0;
    padding: 5;
    border-color: @foreground;
    border:  0px 2px 2px 2px;
    background-color: @nord7;
}

inputbar {
    color: @nord6;
    padding: 11px;
    background-color:rgba(0, 0, 0, 0);

    border: 1px;
    border-radius:  6px 6px 0px 0px;
    border-color: @nord9;
}

entry, prompt, case-indicator {
    text-font: inherit;
    text-color:inherit;
}

prompt {
    margin: 0px 1em 0em 0em;
}

listview {
    padding: 8px;
    border-radius: 0px 0px 6px 6px;
    border-color: @nord9;
    border: 0px 1px 1px 1px;
    background-color: #282c34;
    dynamic: false;
}

element {
    padding: 3px;
    vertical-align: 0.5;
    border-radius: 4px;
    background-color: transparent;
    color: @foreground;
    text-color: @nord4;
}

element selected.normal {
	background-color: @nord12;
	text-color: @nord0;
}

element-text, element-icon {
    background-color: inherit;
    text-color:       inherit;
}

button {
    padding: 6px;
    color: @foreground;
    horizontal-align: 0.5;

    border: 2px 0px 2px 2px;
    border-radius: 4px 0px 0px 4px;
    border-color: @foreground;
}

button selected normal {
    border: 2px 0px 2px 2px;
    border-color: @foreground;
}

textbox {
    padding: 8px;
    border-radius: 6px 6px 6px 6px;
    border-color: @nord9;
    border: 1px 1px 1px 1px;
    background-color: #282c34;
    dynamic: true;
    text-color: @backlight;
}